*{
    box-sizing: border-box;
}

body{
    background-image: url("Img/gallaxy.jpg");
}

.word{
    color: aqua;
}

#board{
    width: 700px;
    height: 500px;
    border: 0.05rem solid;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.tool{
    border-radius: 10%;
}

#pen{
    width: 5rem;
    height: 5rem;
    border: 1px solid;
}

#eraser{
    width: 5rem;
    height: 5rem;
    border: 1px solid;
}

#rec{
    width: 5rem;
    height: 5rem;
    border: 1px solid;
}

#round{
    width: 5rem;
    height: 5rem;
    border: 1px solid;
}

#tri{
    width: 5rem;
    height: 5rem;
    border: 1px solid;
}

#text{
    width: 5rem;
    height: 5rem;
    border: 1px solid;
}

#input{
    display: none;
}

#text_size{
    display: none;
}

#clear{
    position: absolute;
    right: 0;
    top: 0;
}

#record{
    position: absolute;
    left: 45%;
    top: 0;
}

#style{
    position: absolute;
    left: 10%;
    top: 60%;
}

#tool{
    position: absolute;
    left: 0.7%;
    top: 25%;
}

#text_bar{
    position: absolute;
    left: 0.7%;
    top:60%;
}

#download{
    position: absolute;
    top: 90%;
    left: 70%;
}

#upload{
    position: absolute;
    top: 90%;
    left:25%;
}

#down{
    color: aquamarine;
}

#rainbow{
    position: absolute;
    top: 25%;
    right:10%;
    width: 5rem;
    height: 5rem;
    border: 1px solid;
    opacity: 0.7;
}